#!/bin/bash
#BSUB -J ${exec_id}
#BSUB -o ${NEUROANALYST_LOGS:-$HOME/neuroanalyst/logs}/${exec_id}.o%J
#BSUB -e ${NEUROANALYST_LOGS:-$HOME/neuroanalyst/logs}/${exec_id}.e%J
#BSUB -n ${max_workers}
#BSUB -W ${lsf_time:-12:00}
#BSUB -M ${lsf_mem:-8000}
#BSUB -q ${lsf_queue:-normal}
