#!/bin/bash
#SBATCH --job-name=${exec_id}
#SBATCH --output=${logs_dir}/${exec_id}_%j.out
#SBATCH --error=${logs_dir}/${exec_id}_%j.err
#SBATCH --time=${slurm_time}
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=${max_workers}
#SBATCH --mem=${slurm_mem}
#SBATCH --partition=${slurm_partition}
#SBATCH --account=${slurm_account}
#SBATCH --qos=${slurm_qos}
